name: CICD

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*'

jobs:
  test:
    name: Node v${{ matrix.node_version }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        experimental:
          - false
        node_version:
          - 16
          - 22
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}
          registry-url: 'https://registry.npmjs.org'
      - name: Install npm v8
        if: ${{ matrix.node_version <= 12 }}
        run: |
          npm install -g npm@8
      - name: Install Dependencies
        run: |
          npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
          npm ci
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Run Tests
        run: |
          npm run test:ci
  publish:
    name: Publish (maybe)
    runs-on: ubuntu-latest
    needs: test
    if: |
      startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'
      - name: Install Dependencies
        run: |
          npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
          npm whoami
          npm ci
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Build & Publish Packages
        run: |
          npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
          npm whoami
          # Publish as beta for pre-release tags like v1.2.3-rc.0 or v1.2.3-pre.1
          [[ $GITHUB_REF_NAME =~ ^v.*- ]] && NPM_TAG=--tag=beta
          npm publish $NPM_TAG
        env:
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
